<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="{% static 'catalog/css/style.css' %}" rel="stylesheet">
    <title>{% block title %} Shop {% endblock title %}</title>
</head>
<body class="body">
	<div class="container">
		<header class="header">
				<div class="logo"> <img src="{% static 'catalog/img/logo.jpg' %}" alt="logo"> </div>
				<div class="header-paragraph">
					<p> TOHID ELECTRICIAN INDUSTRIES STORE </p>
				</div>
				<nav class="nav-bar">
					<a href="{% url 'index' %}">Home</a>
					<a href="{% url 'catalog:product_list' %}">Products</a>
					<a href="{% url 'about' %}">About</a>
					{% if request.user.is_authenticated %}
				    	<a href="{% url 'users:logout' %}">Sing out</a>
						<a href="{% url 'users:profile' %}" class="current-user">
							{{ request.user.first_name }}
							{{ request.user.last_name }}
						</a>
						<a href="{% url 'sale:user_cart' %}">Cart</a>
					{% else %}
				    	<a href="{% url 'users:login' %}">Sing in</a>
					{% endif %}
				</nav>
		</header>
        <main class="main">
			<div class="sidebar">
				{% block sidebar %}
				{% endblock sidebar %}
			</div>
			<div class="content">
				{% block content %}
					<p> content </p>
				{% endblock content %}
			</div>
        </main>
	</div>
<footer>footer</footer>
</body>

</html>